*{
    font-family: 'Delicious Handrawn', cursive;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    z-index: 999;
    transition: height .5s ease-in;
    max-width: 1400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #999;
}

.logo {
    width: 18.8%;
    /* border: 1px solid red; */
    vertical-align: baseline;
    display: flex;
    flex-direction: inherit;
}

.logo a {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo img {
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.search-container {
    border: 2px solid #999999;
    display: flex;
    align-items: center;
    width: 300px;
    height: 25px;
}

.search-container input[type="text"] {
    border-color: #999999;
    width: 170%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 0;
}

.search-container button[type="submit"] {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B2B2B2;
    opacity: 1; 
    font-size: medium;
  }
  .no-outline:focus{
    outline: none;
  }
.search-container{
    width: 100;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.account{
    display: flex;
    justify-content: flex-end;
    width : 11.42%;
}
.account a{
    display: flex;
    text-decoration: none;
    color: black;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.account div{
    margin-top: auto;
    margin-bottom: auto;
}
.account img{
    width: 24px;
    height: 24px;
}
.autoMargin{
    margin-top: auto;
    margin-bottom: auto;
}
.cart{
    display: flex;
    justify-content: flex-end;
    width : 9.23%;    
}
.cart a{
    display: flex;
    text-decoration: none;
    color: black;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.cart div{
    margin-top: auto;
    margin-bottom: auto;
}
.cart img{
    width: 24px;
    height: 24px;
}
@media screen and (max-width: 850px) {
    .search-container{
        display: none;
    }
  }
@media screen and (max-width: 570px) {
    .autoMargin{
        display: none;
    }
  }

  .nav-area {
    /* background:#0C5273 */
    width: 100%;
    /* border: 2px solid black; */
}

.nav-area:after {
    content: '';
    clear: both;
    display: block;
}

.nav-area ul {
    list-style: none;
    margin: 0;
    margin-right: 10px;
}

.nav-area>ul>li {
    float: left;
    position: relative;
}

.nav-area ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 25px 15px 25px;
    display: block;
}

.nav-area ul li:hover a {
    background: #EEEEEE;
    opacity: 0.9;
}

.nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-area ul li:hover>ul {
    display: block;
}

.nav-area ul ul li:hover a {
    background:#999999;
}

.nav-area ul ul li {
    position: relative;
}

.nav-area ul ul ul {
    top: 0;
    left: 100%;
}

.nav-area ul ul ul li:hover a {
    background: #34495e;
}
@media screen and (max-width: 1192px) {
    .nav-area{
        display: none;
    }
  }

.responsiveSlider{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 56px;

}
.sliderContainer{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    /* border : 1px solid black; */
}
.sliderContainer div{
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.sliderContainer div a{
    display :flex;
}

.sliderContainer a{
    text-decoration: none;
    color : black;
}
.sliderContainer div a span{
    margin-top: auto;
    margin-bottom: auto;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .sliderText{
    padding-top: 4px;
    padding-left: 4px;
  }
  @media screen and (max-width: 750px) {
    .responsiveSlider{
        height: 100px;
    }
  }
  @media screen and (max-width: 560px) {
    .responsiveSlider{
        display: none;
    }
  }
  .stripBanner{
    width: 100%;
    /* border: 1px solid black; */
    background-color: #CCCCCC;
    height: 56px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .stripBanner p{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top:13px;
    height: 45%;

}
 
.slideshow-container img {
    width: 100%;
    height: 100%;

}
.slideshow-container img:hover {
  width: 100%;
  height: 100%;
  cursor: pointer;

}



.mySlides {
    margin: auto;
    width: 99%;
    display: none;
    height:auto;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: #6c6766;
    font-size: 40px;
    transition: .6s ease;
    border-radius: 0 2px 2px 0;
    background-color: rgba(249, 243, 243, 0.8);
    opacity: 0.5;
    
}

.next {
     position: absolute;
    right:0.6%;
    border-radius: 3px 3px 3px 3px;
}

.prev {
    position: absolute;
    left: 0.6%;
    border-radius: 3px 3px 3px 3px;
    
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(156, 151, 151, 0.8)
}
.dot {
    border: 1px solid rgb(157, 155, 153);
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .7s ease;
}

.active,
.dot:hover {
    background-color: #717171
}

.shopByCategory{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /* border : 1px solid black; */
    text-align: center;
    font-size: xx-large;
}
.shopCat img{
    width:100%;
    height : 200px;
}
.shopCat{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.shopCat img:hover{
    opacity: 0.8;
}
.xPoint{
    width: 100%;
    /* border: 1px solid red; */
    height: auto;
}
.xPointCont{
    text-align: center;
}
.xPoint img{
    width: 90%;
}
.imgCont div{
    /* border: 2px solid red; */
    text-align: center;
}
.imgCont{
    display: flex;
    padding-bottom: 40px;
}
.threeItemEditorial_container{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 40px;
    /* border: 2px solid orange; */
}
.threeItemEditorial_container div{
    width: 30%;
    text-align: center;
}
.threeItemEditorial_container img{
    width: 100%;
}
.referral{
    width: 100%;
}
.referral img{
    width: 100%;
}
.featured{
    text-align: center;
    width: 100%;
    font-size: xx-large;
}
.featuredBrands{
    width: 100%;
    margin-top: auto;
    height: 60px;
    display: flex;
    margin-top: auto;
    padding-bottom: 40px;
    justify-content: space-evenly;
}
.featuredBrands img{
    width:100%;
    margin-top: auto;
    margin-bottom: auto;
    /* height : 200px; */
}

.featuredBrands div{
    width: 16%;
}
.featuredBrands img:hover{
    opacity: 0.8;
}
.fromtheblog{
    width: 100%;
    height: 400px;
}
.ftb{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.ftb div{
    /* border: 1px solid red; */
    margin-left: auto;
    text-align: center;
    width: 23%;
}
.ftb div p{
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    border: 1px solid black;
}
.footerTOP{
    border: 1px solid red;
    width: 95%;
}
